.VistaDocente {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .search-input {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #00a2ff;
  }
  
  .info-header {
    text-align: center;
    margin-bottom: 2em;
  }
  
  .info-header h1 {
    color: #003366;
  }
  
  .info-header p {
    color: #005599;
  }
  
  .instructions {
    background-color: #e6f7ff;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 4px;
  }
  
  .personal-info {
    display: flex;
    justify-content: space-between;
    background-color: #e6f7ff;
    padding: 1em;
    border-radius: 4px;
    margin-bottom: 2em;
  }
  
  .info-item {
    display: flex;
    align-items: center;
  }
  
  .info-title {
    font-weight: bold;
  }
  
  .evaluation-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .evaluation-table thead {
    background-color: #4da6ff;
    color: #fff;
  }
  
  .evaluation-table th, 
  .evaluation-table td {
    padding: 1em;
    border: 1px solid #ccc;
  }

  
  .evaluation-table-row {
  background-color: #e6f7ff;
}

.evaluation-table-row td {
  color: #003366;
}

.evaluation-input {
  border: 1px solid #00a2ff;
}

  